<a href="https://colab.research.google.com/github/raghavendranhp/Financial_Risk_Detection/blob/main/Financial_Risk_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<div id="custom-header" style="padding: 15px; color: white; margin: 0; font-size: 28px; font-family: 'Times New Roman', Times, serif; text-align: center; display: fill; border-radius: 15px; background-color: #6D214F; overflow: hidden; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
    <b> Financial Risk Detectionüë®‚Äçüíº:- Data-Driven Insights üìä and Predictive Strategies ü™Ñ for Employee Retention </b>
</div>

<div id="custom-header" style="padding: 0px; color: white; margin: 0; font-size: 22px; font-family: 'Times New Roman', Times, serif; text-align: center; display: fill; border-radius: 10px; background-color: #6D214F; overflow: hidden; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
    <b>  Importing Libraries </b>
</div>

In [1]:
#Import necessary libraries
import pandas as pd
import numpy as np
from pprint import PrettyPrinter
from datetime import datetime, time

#Data visualization libraries
import seaborn as sns
sns.set()
import plotly.express as px
import matplotlib.pyplot as plt

#Machine learning libraries
from imblearn.over_sampling import SMOTE
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import (
    accuracy_score, precision_score, recall_score, f1_score,
    roc_auc_score, classification_report, confusion_matrix
)

#Ignore FutureWarnings to avoid clutter in the output
import warnings
warnings.filterwarnings("ignore", category=FutureWarning)

#Initialize PrettyPrinter for neat printing
pp = PrettyPrinter(indent=2)

In [2]:
import pandas as pd

# Set the maximum number of displayed columns for Pandas DataFrames to 'None' (display all columns)
pd.set_option('display.max_columns', None)

# Set the maximum number of displayed rows for Pandas DataFrames to 200
pd.set_option('display.max_rows', 200)

# Set the maximum column width to 'None' (display complete content)
pd.set_option('display.max_colwidth', None)

# Set the maximum width of the display in characters
pd.set_option('display.width', 1000)

# Enable the display of DataFrames with expanded representation
# This means if the DataFrame has too many columns to fit horizontally within the display,
# it will display it across multiple lines instead of compressing it into fewer lines.
pd.set_option('display.expand_frame_repr', True)

*italicized text*<div id="custom-header" style="padding: 0px; color: white; margin: 0; font-size: 22px; font-family: 'Times New Roman', Times, serif; text-align: center; display: fill; border-radius: 10px; background-color: #6D214F; overflow: hidden; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
    <b>  Loading Dataset </b>
</div>

In [3]:
df_column_description_org=pd.read_excel(r"/content/drive/MyDrive/Dataset/Financial Risk Analysis/columns_description.xlsx")
df_app_data_org=pd.read_csv(r"/content/drive/MyDrive/Dataset/Financial Risk Analysis/application_data.csv")
df_pre_app_org=pd.read_csv(r"/content/drive/MyDrive/Dataset/Financial Risk Analysis/previous_application.csv")

In [4]:
#Make a copy of the original DataFrame to work with
df_app_data=df_app_data_org.copy()
df_pre_app=df_pre_app_org.copy()
df_column_description=df_column_description_org.copy()

<div id="custom-header" style="padding: 0px; color: white; margin: 0; font-size: 22px; font-family: 'Times New Roman', Times, serif; text-align: center; display: fill; border-radius: 10px; background-color: #6D214F; overflow: hidden; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
    <b>  Data Dictionary </b>
</div>

In [5]:
#df_column_description=df_column_description.drop(['Unnamed: 0'],axis=1)
display(df_column_description.head(160))

     Unnamed: 0                     Table                           Row                                                                                                                                                                                                                                                                           Description                                Special
0             1          application_data                    SK_ID_CURR                                                                                                                                                                                                                                                              ID of loan in our sample                                    NaN
1             2          application_data                        TARGET                                                                                           Target variable (1 - client with payment difficulties: he/she had late payment more than X days on at least one of the first Y installments of the loan in our sample, 0 - all other cases)                                    NaN
2             5          application_data            NAME_CONTRACT_TYPE                                                                                                                                                                                                                                           Identification if loan is cash or revolving                                    NaN
3             6          application_data                   CODE_GENDER                                                                                                                                                                                                                                                                  Gender of the client                                    NaN
4             7          application_data                  FLAG_OWN_CAR                                                                                                                                                                                                                                                         Flag if the client owns a car                                    NaN
5             8          application_data               FLAG_OWN_REALTY                                                                                                                                                                                                                                                   Flag if client owns a house or flat                                    NaN
6             9          application_data                  CNT_CHILDREN                                                                                                                                                                                                                                                     Number of children the client has                                    NaN
7            10          application_data              AMT_INCOME_TOTAL                                                                                                                                                                                                                                                                  Income of the client                                    NaN
8            11          application_data                    AMT_CREDIT                                                                                                                                                                                                                                                             Credit amount of the loan                                    NaN
9            12          application_data                   AMT_ANNUITY                                                                                                                                                                                                                                                                          Loan annuity                                    NaN
10           13          application_data               AMT_GOODS_PRICE                                                                                                                                                                                                           For consumer loans it is the price of the goods for which the loan is given                                    NaN
11           14          application_data               NAME_TYPE_SUITE                                                                                                                                                                                                                         Who was accompanying client when he was applying for the loan                                    NaN
12           15          application_data              NAME_INCOME_TYPE                                                                                                                                                                                                                         Clients income type (businessman, working, maternity leave,‚Ä¶)                                    NaN
13           16          application_data           NAME_EDUCATION_TYPE                                                                                                                                                                                                                                        Level of highest education the client achieved                                    NaN
14           17          application_data            NAME_FAMILY_STATUS                                                                                                                                                                                                                                                           Family status of the client                                    NaN
15           18          application_data             NAME_HOUSING_TYPE                                                                                                                                                                                                       What is the housing situation of the client (renting, living with parents, ...)                                    NaN
16           19          application_data    REGION_POPULATION_RELATIVE                                                                                                                                                                    Normalized population of region where client lives (higher number means the client lives in more populated region)                             normalized
17           20          application_data                    DAYS_BIRTH                                                                                                                                                                                                                                       Client's age in days at the time of application  time only relative to the application
18           21          application_data                 DAYS_EMPLOYED                                                                                                                                                                                                            How many days before the application the person started current employment  time only relative to the application
19           22          application_data             DAYS_REGISTRATION                                                                                                                                                                                                               How many days before the application did client change his registration  time only relative to the application
20           23          application_data               DAYS_ID_PUBLISH                                                                                                                                                                       How many days before the application did client change the identity document with which he applied for the loan  time only relative to the application
21           24          application_data                   OWN_CAR_AGE                                                                                                                                                                                                                                                                   Age of client's car                                    NaN
22           25          application_data                    FLAG_MOBIL                                                                                                                                                                                                                                         Did client provide mobile phone (1=YES, 0=NO)                                    NaN
23           26          application_data                FLAG_EMP_PHONE                                                                                                                                                                                                                                           Did client provide work phone (1=YES, 0=NO)                                    NaN
24           27          application_data               FLAG_WORK_PHONE                                                                                                                                                                                                                                           Did client provide home phone (1=YES, 0=NO)                                    NaN
25           28          application_data              FLAG_CONT_MOBILE                                                                                                                                                                                                                                              Was mobile phone reachable (1=YES, 0=NO)                                    NaN
26           29          application_data                    FLAG_PHONE                                                                                                                                                                                                                                           Did client provide home phone (1=YES, 0=NO)                                    NaN
27           30          application_data                    FLAG_EMAIL                                                                                                                                                                                                                                                Did client provide email (1=YES, 0=NO)                                    NaN
28           31          application_data               OCCUPATION_TYPE                                                                                                                                                                                                                                          What kind of occupation does the client have                                    NaN
29           32          application_data               CNT_FAM_MEMBERS                                                                                                                                                                                                                                              How many family members does client have                                    NaN
30           33          application_data          REGION_RATING_CLIENT                                                                                                                                                                                                                                   Our rating of the region where client lives (1,2,3)                                    NaN
31           34          application_data   REGION_RATING_CLIENT_W_CITY                                                                                                                                                                                                     Our rating of the region where client lives with taking city into account (1,2,3)                                    NaN
32           35          application_data    WEEKDAY_APPR_PROCESS_START                                                                                                                                                                                                                            On which day of the week did the client apply for the loan                                    NaN
33           36          application_data       HOUR_APPR_PROCESS_START                                                                                                                                                                                                                          Approximately at what hour did the client apply for the loan                                rounded
34           37          application_data    REG_REGION_NOT_LIVE_REGION                                                                                                                                                                              Flag if client's permanent address does not match contact address (1=different, 0=same, at region level)                                    NaN
35           38          application_data    REG_REGION_NOT_WORK_REGION                                                                                                                                                                                 Flag if client's permanent address does not match work address (1=different, 0=same, at region level)                                    NaN
36           39          application_data   LIVE_REGION_NOT_WORK_REGION                                                                                                                                                                                   Flag if client's contact address does not match work address (1=different, 0=same, at region level)                                    NaN
37           40          application_data        REG_CITY_NOT_LIVE_CITY                                                                                                                                                                                Flag if client's permanent address does not match contact address (1=different, 0=same, at city level)                                    NaN
38           41          application_data        REG_CITY_NOT_WORK_CITY                                                                                                                                                                                   Flag if client's permanent address does not match work address (1=different, 0=same, at city level)                                    NaN
39           42          application_data       LIVE_CITY_NOT_WORK_CITY                                                                                                                                                                                     Flag if client's contact address does not match work address (1=different, 0=same, at city level)                                    NaN
40           43          application_data             ORGANIZATION_TYPE                                                                                                                                                                                                                                               Type of organization where client works                                    NaN
41           44          application_data                  EXT_SOURCE_1                                                                                                                                                                                                                                            Normalized score from external data source                             normalized
42           45          application_data                  EXT_SOURCE_2                                                                                                                                                                                                                                            Normalized score from external data source                             normalized
43           46          application_data                  EXT_SOURCE_3                                                                                                                                                                                                                                            Normalized score from external data source                             normalized
44           47          application_data                APARTMENTS_AVG  Normalized information about building where the client lives, What is average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment size, common area, living area, age of building, number of elevators, number of entrances, state of the building, number of floor                             normalized
45           48          application_data              BASEMENTAREA_AVG  Normalized information about building where the client lives, What is average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment size, common area, living area, age of building, number of elevators, number of entrances, state of the building, number of floor                             normalized
46           49          application_data   YEARS_BEGINEXPLUATATION_AVG  Normalized information about building where the client lives, What is average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment size, common area, living area, age of building, number of elevators, number of entrances, state of the building, number of floor                             normalized
47           50          application_data               YEARS_BUILD_AVG  Normalized information about building where the client lives, What is average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment size, common area, living area, age of building, number of elevators, number of entrances, state of the building, number of floor                             normalized
48           51          application_data                COMMONAREA_AVG  Normalized information about building where the client lives, What is average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment size, common area, living area, age of building, number of elevators, number of entrances, state of the building, number of floor                             normalized
49           52          application_data                 ELEVATORS_AVG  Normalized information about building where the client lives, What is average (_AVG suffix), modus (_MODE suffix), median (_MEDI suffix) apartment size, common area, living area, age of building, number of elevators, number of entrances, state of the building, number of floor                             normalized

<div id="custom-header" style="padding: 0px; color: white; margin: 0; font-size: 22px; font-family: 'Times New Roman', Times, serif; text-align: center; display: fill; border-radius: 10px; background-color: #6D214F; overflow: hidden; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
    <b>  Data Wrangling </b>
</div>

## <div style="text-align: left; background-color:#CFD9F1 ; font-family: Trebuchet MS; color: #0A3399; padding: 15px; line-height:1;border-radius:2px; margin-bottom: 0em; text-align: center; font-size: 20px;border-style: solid;border-color: dark green;"> Application Data</div>

In [6]:
df_app_data.shape

(307511, 122)

In [7]:
df_app_data.info(verbose=True,null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307511 entries, 0 to 307510
Data columns (total 122 columns):
 #    Column                        Non-Null Count   Dtype
---   ------                        --------------   -----
 0    SK_ID_CURR                    307511 non-null  int64
 1    TARGET                        307511 non-null  int64
 2    NAME_CONTRACT_TYPE            307511 non-null  object
 3    CODE_GENDER                   307511 non-null  object
 4    FLAG_OWN_CAR                  307511 non-null  object
 5    FLAG_OWN_REALTY               307511 non-null  object
 6    CNT_CHILDREN                  307511 non-null  int64
 7    AMT_INCOME_TOTAL              307511 non-null  float64
 8    AMT_CREDIT                    307511 non-null  float64
 9    AMT_ANNUITY                   307499 non-null  float64
 10   AMT_GOODS_PRICE               307233 non-null  float64
 11   NAME_TYPE_SUITE               306219 non-null  object
 12   NAME_INCOME_TYPE              307511 non-null  object
 13   NAME_EDUCATION_TYPE           307511 non-null  object
 14   NAME_FAMILY_STATUS            307511 non-null  object
 15   NAME_HOUSING_TYPE             307511 non-null  object
 16   REGION_POPULATION_RELATIVE    307511 non-null  float64
 17   DAYS_BIRTH                    307511 non-null  int64
 18   DAYS_EMPLOYED                 307511 non-null  int64
 19   DAYS_REGISTRATION             307511 non-null  float64
 20   DAYS_ID_PUBLISH               307511 non-null  int64
 21   OWN_CAR_AGE                   104582 non-null  float64
 22   FLAG_MOBIL                    307511 non-null  int64
 23   FLAG_EMP_PHONE                307511 non-null  int64
 24   FLAG_WORK_PHONE               307511 non-null  int64
 25   FLAG_CONT_MOBILE              307511 non-null  int64
 26   FLAG_PHONE                    307511 non-null  int64
 27   FLAG_EMAIL                    307511 non-null  int64
 28   OCCUPATION_TYPE               211120 non-null  object
 29   CNT_FAM_MEMBERS               307509 non-null  float64
 30   REGION_RATING_CLIENT          307511 non-null  int64
 31   REGION_RATING_CLIENT_W_CITY   307511 non-null  int64
 32   WEEKDAY_APPR_PROCESS_START    307511 non-null  object
 33   HOUR_APPR_PROCESS_START       307511 non-null  int64
 34   REG_REGION_NOT_LIVE_REGION    307511 non-null  int64
 35   REG_REGION_NOT_WORK_REGION    307511 non-null  int64
 36   LIVE_REGION_NOT_WORK_REGION   307511 non-null  int64
 37   REG_CITY_NOT_LIVE_CITY        307511 non-null  int64
 38   REG_CITY_NOT_WORK_CITY        307511 non-null  int64
 39   LIVE_CITY_NOT_WORK_CITY       307511 non-null  int64
 40   ORGANIZATION_TYPE             307511 non-null  object
 41   EXT_SOURCE_1                  134133 non-null  float64
 42   EXT_SOURCE_2                  306851 non-null  float64
 43   EXT_SOURCE_3                  246546 non-null  float64
 44   APARTMENTS_AVG                151450 non-null  float64
 45   BASEMENTAREA_AVG              127568 non-null  float64
 46   YEARS_BEGINEXPLUATATION_AVG   157504 non-null  float64
 47   YEARS_BUILD_AVG               103023 non-null  float64
 48   COMMONAREA_AVG                92646 non-null   float64
 49   ELEVATORS_AVG                 143620 non-null  float64
 50   ENTRANCES_AVG                 152683 non-null  float64
 51   FLOORSMAX_AVG                 154491 non-null  float64
 52   FLOORSMIN_AVG                 98869 non-null   float64
 53   LANDAREA_AVG                  124921 non-null  float64
 54   LIVINGAPARTMENTS_AVG          97312 non-null   float64
 55   LIVINGAREA_AVG                153161 non-null  float64
 56   NONLIVINGAPARTMENTS_AVG       93997 non-null   float64
 57   NONLIVINGAREA_AVG             137829 non-null  float64
 58   APARTMENTS_MODE               151450 non-null  float64
 59   BASEMENTAREA_MODE             127568 non-null  float64
 60   YEARS_BEGINEXPLUATATION_MODE  157504 non-null  float64
 61   YEARS_BUILD_MODE              103023 non-null  float64
 62   COMMONAREA_MODE               92646 non-null   float64
 63   ELEVATORS_MODE                143620 non-null  float64
 64   ENTRANCES_MODE                152683 non-null  float64
 65   FLOORSMAX_MODE                154491 non-null  float64
 66   FLOORSMIN_MODE                98869 non-null   float64
 67   LANDAREA_MODE                 124921 non-null  float64
 68   LIVINGAPARTMENTS_MODE         97312 non-null   float64
 69   LIVINGAREA_MODE               153161 non-null  float64
 70   NONLIVINGAPARTMENTS_MODE      93997 non-null   float64
 71   NONLIVINGAREA_MODE            137829 non-null  float64
 72   APARTMENTS_MEDI               151450 non-null  float64
 73   BASEMENTAREA_MEDI             127568 non-null  float64
 74   YEARS_BEGINEXPLUATATION_MEDI  157504 non-null  float64
 75   YEARS_BUILD_MEDI              103023 non-null  float64
 76   COMMONAREA_MEDI               92646 non-null   float64
 77   ELEVATORS_MEDI                143620 non-null  float64
 78   ENTRANCES_MEDI                152683 non-null  float64
 79   FLOORSMAX_MEDI                154491 non-null  float64
 80   FLOORSMIN_MEDI                98869 non-null   float64
 81   LANDAREA_MEDI                 124921 non-null  float64
 82   LIVINGAPARTMENTS_MEDI         97312 non-null   float64
 83   LIVINGAREA_MEDI               153161 non-null  float64
 84   NONLIVINGAPARTMENTS_MEDI      93997 non-null   float64
 85   NONLIVINGAREA_MEDI            137829 non-null  float64
 86   FONDKAPREMONT_MODE            97216 non-null   object
 87   HOUSETYPE_MODE                153214 non-null  object
 88   TOTALAREA_MODE                159080 non-null  float64
 89   WALLSMATERIAL_MODE            151170 non-null  object
 90   EMERGENCYSTATE_MODE           161756 non-null  object
 91   OBS_30_CNT_SOCIAL_CIRCLE      306490 non-null  float64
 92   DEF_30_CNT_SOCIAL_CIRCLE      306490 non-null  float64
 93   OBS_60_CNT_SOCIAL_CIRCLE      306490 non-null  float64
 94   DEF_60_CNT_SOCIAL_CIRCLE      306490 non-null  float64
 95   DAYS_LAST_PHONE_CHANGE        307510 non-null  float64
 96   FLAG_DOCUMENT_2               307511 non-null  int64
 97   FLAG_DOCUMENT_3               307511 non-null  int64
 98   FLAG_DOCUMENT_4               307511 non-null  int64
 99   FLAG_DOCUMENT_5               307511 non-null  int64
 100  FLAG_DOCUMENT_6               307511 non-null  int64
 101  FLAG_DOCUMENT_7               307511 non-null  int64
 102  FLAG_DOCUMENT_8               307511 non-null  int64
 103  FLAG_DOCUMENT_9               307511 non-null  int64
 104  FLAG_DOCUMENT_10              307511 non-null  int64
 105  FLAG_DOCUMENT_11              307511 non-null  int64
 106  FLAG_DOCUMENT_12              307511 non-null  int64
 107  FLAG_DOCUMENT_13              307511 non-null  int64
 108  FLAG_DOCUMENT_14              307511 non-null  int64
 109  FLAG_DOCUMENT_15              307511 non-null  int64
 110  FLAG_DOCUMENT_16              307511 non-null  int64
 111  FLAG_DOCUMENT_17              307511 non-null  int64
 112  FLAG_DOCUMENT_18              307511 non-null  int64
 113  FLAG_DOCUMENT_19              307511 non-null  int64
 114  FLAG_DOCUMENT_20              307511 non-null  int64
 115  FLAG_DOCUMENT_21              307511 non-null  int64
 116  AMT_REQ_CREDIT_BUREAU_HOUR    265992 non-null  float64
 117  AMT_REQ_CREDIT_BUREAU_DAY     265992 non-null  float64
 118  AMT_REQ_CREDIT_BUREAU_WEEK    265992 non-null  float64
 119  AMT_REQ_CREDIT_BUREAU_MON     265992 non-null  float64
 120  AMT_REQ_CREDIT_BUREAU_QRT     265992 non-null  float64
 121  AMT_REQ_CREDIT_BUREAU_YEAR    265992 non-null  float64
dtypes: float64(65), int64(41), object(16)
memory usage: 286.2+ MB

In [8]:
df_app_data.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,351000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.018801,-9461,-637,-3648.0,-2120,NaN,1,1,0,1,1,0,Laborers,1.0,2,2,WEDNESDAY,10,0,0,0,0,0,0,Business Entity Type 3,0.083037,0.262949,0.139376,0.0247,0.0369,0.9722,0.6192,0.0143,0.00,0.0690,0.0833,0.1250,0.0369,0.0202,0.0190,0.0000,0.0000,0.0252,0.0383,0.9722,0.6341,0.0144,0.0000,0.0690,0.0833,0.1250,0.0377,0.022,0.0198,0.0,0.0,0.0250,0.0369,0.9722,0.6243,0.0144,0.00,0.0690,0.0833,0.1250,0.0375,0.0205,0.0193,0.0000,0.00,reg oper account,block of flats,0.0149,"Stone, brick",No,2.0,2.0,2.0,2.0,-1134.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,1129500.0,Family,State servant,Higher education,Married,House / apartment,0.003541,-16765,-1188,-1186.0,-291,NaN,1,1,0,1,1,0,Core staff,2.0,1,1,MONDAY,11,0,0,0,0,0,0,School,0.311267,0.622246,NaN,0.0959,0.0529,0.9851,0.7960,0.0605,0.08,0.0345,0.2917,0.3333,0.0130,0.0773,0.0549,0.0039,0.0098,0.0924,0.0538,0.9851,0.8040,0.0497,0.0806,0.0345,0.2917,0.3333,0.0128,0.079,0.0554,0.0,0.0,0.0968,0.0529,0.9851,0.7987,0.0608,0.08,0.0345,0.2917,0.3333,0.0132,0.0787,0.0558,0.0039,0.01,reg oper account,block of flats,0.0714,Block,No,1.0,0.0,1.0,0.0,-828.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,135000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.010032,-19046,-225,-4260.0,-2531,26.0,1,1,1,1,1,0,Laborers,1.0,2,2,MONDAY,9,0,0,0,0,0,0,Government,NaN,0.555912,0.729567,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-815.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,297000.0,Unaccompanied,Working,Secondary / secondary special,Civil marriage,House / apartment,0.008019,-19005,-3039,-9833.0,-2437,NaN,1,1,0,1,0,0,Laborers,2.0,2,2,WEDNESDAY,17,0,0,0,0,0,0,Business Entity Type 3,NaN,0.650442,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,0.0,2.0,0.0,-617.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,513000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.028663,-19932,-3038,-4311.0,-3458,NaN,1,1,0,1,0,0,Core staff,1.0,2,2,THURSDAY,11,0,0,0,0,1,1,Religion,NaN,0.322738,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-1106.0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [9]:
#Display descriptive statistics for numerical columns in the DataFrame
df_app_data.describe()

,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,TOTALAREA_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
count,307511.000000,307511.000000,307511.000000,3.075110e+05,3.075110e+05,307499.000000,3.072330e+05,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,104582.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307509.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,134133.000000,3.068510e+05,246546.000000,151450.00000,127568.000000,157504.000000,103023.000000,92646.000000,143620.000000,152683.000000,154491.000000,98869.000000,124921.000000,97312.000000,153161.000000,93997.000000,137829.000000,151450.000000,127568.000000,157504.000000,103023.000000,92646.000000,143620.000000,152683.000000,154491.000000,98869.000000,124921.000000,97312.000000,153161.000000,93997.000000,137829.000000,151450.000000,127568.000000,157504.000000,103023.000000,92646.000000,143620.000000,152683.000000,154491.000000,98869.000000,124921.000000,97312.000000,153161.000000,93997.000000,137829.000000,159080.000000,306490.000000,306490.000000,306490.000000,306490.000000,307510.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.00000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,265992.000000,265992.000000,265992.000000,265992.000000,265992.000000,265992.000000
mean,278180.518577,0.080729,0.417052,1.687979e+05,5.990260e+05,27108.573909,5.383962e+05,0.020868,-16036.995067,63815.045904,-4986.120328,-2994.202373,12.061091,0.999997,0.819889,0.199368,0.998133,0.281066,0.056720,2.152665,2.052463,2.031521,12.063419,0.015144,0.050769,0.040659,0.078173,0.230454,0.179555,0.502130,5.143927e-01,0.510853,0.11744,0.088442,0.977735,0.752471,0.044621,0.078942,0.149725,0.226282,0.231894,0.066333,0.100775,0.107399,0.008809,0.028358,0.114231,0.087543,0.977065,0.759637,0.042553,0.074490,0.145193,0.222315,0.228058,0.064958,0.105645,0.105975,0.008076,0.027022,0.117850,0.087955,0.977752,0.755746,0.044595,0.078078,0.149213,0.225897,0.231625,0.067169,0.101954,0.108607,0.008651,0.028236,0.102547,1.422245,0.143421,1.405292,0.100049,-962.858788,0.000042,0.710023,0.000081,0.015115,0.088055,0.000192,0.081376,0.003896,0.000023,0.003912,0.000007,0.003525,0.002936,0.00121,0.009928,0.000267,0.008130,0.000595,0.000507,0.000335,0.006402,0.007000,0.034362,0.267395,0.265474,1.899974
std,102790.175348,0.272419,0.722121,2.371231e+05,4.024908e+05,14493.737315,3.694465e+05,0.013831,4363.988632,141275.766519,3522.886321,1509.450419,11.944812,0.001803,0.384280,0.399526,0.043164,0.449521,0.231307,0.910682,0.509034,0.502737,3.265832,0.122126,0.219526,0.197499,0.268444,0.421124,0.383817,0.211062,1.910602e-01,0.194844,0.10824,0.082438,0.059223,0.113280,0.076036,0.134576,0.100049,0.144641,0.161380,0.081184,0.092576,0.110565,0.047732,0.069523,0.107936,0.084307,0.064575,0.110111,0.074445,0.132256,0.100977,0.143709,0.161160,0.081750,0.097880,0.111845,0.046276,0.070254,0.109076,0.082179,0.059897,0.112066,0.076144,0.134467,0.100368,0.145067,0.161934,0.082167,0.093642,0.112260,0.047415,0.070166,0.107462,2.400989,0.446698,2.379803,0.362291,826.808487,0.006502,0.453752,0.009016,0.122010,0.283376,0.013850,0.273412,0.062295,0.004771,0.062424,0.002550,0.059268,0.054110,0.03476,0.099144,0.016327,0.089798,0.024387,0.022518,0.018299,0.083849,0.110757,0.204685,0.916002,0.794056,1.869295
min,100002.000000,0.000000,0.000000,2.565000e+04,4.500000e+04,1615.500000,4.050000e+04,0.000290,-25229.000000,-17912.000000,-24672.000000,-7197.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.014568,8.173617e-08,0.000527,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-4292.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,189145.500000,0.000000,0.000000,1.125000e+05,2.700000e+05,16524.000000,2.385000e+05,0.010006,-19682.000000,-2760.000000,-7479.500000,-4299.000000,5.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,2.000000,2.000000,2.000000,10.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.334007,3.924574e-01,0.370650,0.05770,0.044200,0.976700,0.687200,0.007800,0.000000,0.069000,0.166700,0.083300,0.018700,0.050400,0.045300,0.000000,0.000000,0.052500,0.040700,0.976700,0.699400,0.007200,0.000000,0.069000,0.166700,0.083300,0.016600,0.054200,0.042700,0.000000,0.000000,0.058300,0.043700,0.976700,0.691400,0.007900,0.000000,0.069000,0.166700,0.083300,0.018700,0.051300,0.045700,0.000000,0.000000,0.041200,0.000000,0.000000,0.000000,0.000000,-1570.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,278202.000000,0.000000,0.000000,1.471500e+05,5.135310e+05,24903.000000,4.500000e+05,0.018850,-15750.000000,-1213.000000,-4504.000000,-3254.000000,9.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,2.000000,2.000000,2.000000,12.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.505998,5.659614e-01,0.535276,0.08760,0.076300,0.981600,0.755200,0.021100,0.000000,0.137900,0.166700,0.208300,0.048100,0.075600,0.074500,0.000000,0.003600,0.084000,0.074600,0.981600,0.764800,0.019000,0.000000,0.137900,0.166700,0.208300,0.045800,0.077100,0.073100,0.000000,0.001100,0.086400,0.075800,0.981600,0.758500,0.020800,0.000000,0.137900,0.166700,0.208300,0.048700,0.076100,0.074900,0.000000,0.003100,0.068800,0.000000,0.000000,0.000000,0.000000,-757.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
75%,367142.500000,0.000000,1.000000,2.025000e+05,8.086500e+05,34596.000000,6.795000e+05,0.028663,-12413.000000,-289.000000,-2010.000000,-1720.000000,15.000000,1.000000,1.000000,0.000000,1.000000,1.000000,0.000000,3.000000,2.000000,2.000000,14.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.675053,6.636171e-01,0.669057,0.14850,0.112200,0.986600,0.823200,0.051500,0.120000,0.206900,0.333300,0.375000,0.085600,0.121000,0.129900,0.003900,0.027700,0.143900,0.112400,0.986600,0.823600,0.049000,0.120800,0.206900,0.333300,0.375000,0.084100,0.131300,0.125200,0.003900,0.023100,0.148900,0.111600,0.986600,0.825600,0.051300,0.120000,0.206900,0.333300,0.375000,0.086800,0.123100,0.130300,0.003900,0.026600,0.127600,2.000000,0.000000,2.000000,0.000000,-274.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000
max,456255.000000,1.000000,19.000000,1.170000e+08,4.050000e+06,258025.500000,4.050000e+06,0.072508,-7489.000000,365243.000000,0.000000,0.000000,91.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,20.000000,3.000000,3.000000,23.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.962693,8.549997e-01,0.896010,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,348.000000,34.000000,344.000000,24.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,4.000000,9.000000,8.000000,27.000000,261.000000,25.000000

In [10]:
#Display descriptive statistics for categorical (object) columns in the DataFrame
df_app_data.describe(include="O")

       NAME_CONTRACT_TYPE CODE_GENDER FLAG_OWN_CAR FLAG_OWN_REALTY NAME_TYPE_SUITE NAME_INCOME_TYPE            NAME_EDUCATION_TYPE NAME_FAMILY_STATUS  NAME_HOUSING_TYPE OCCUPATION_TYPE WEEKDAY_APPR_PROCESS_START       ORGANIZATION_TYPE FONDKAPREMONT_MODE  HOUSETYPE_MODE WALLSMATERIAL_MODE EMERGENCYSTATE_MODE
count              307511      307511       307511          307511          306219           307511                         307511             307511             307511          211120                     307511                  307511              97216          153214             151170              161756
unique                  2           3            2               2               7                8                              5                  6                  6              18                          7                      58                  4               3                  7                   2
top            Cash loans           F            N               Y   Unaccompanied          Working  Secondary / secondary special            Married  House / apartment        Laborers                    TUESDAY  Business Entity Type 3   reg oper account  block of flats              Panel                  No
freq               278232      202448       202924          213312          248526           158774                         218391             196432             272868           55186                      53901                   67992              73830          150503              66040              159428

In [11]:
#Get the names of categorical columns in the DataFrame
categorical_columns_app=df_app_data.select_dtypes(include='O').columns
#Get the names of numerical columns in the DataFrame
numerical_columns_app=df_app_data.select_dtypes(include='number').columns

In [12]:
#Iterate over each categorical column in the DataFrame
for i in categorical_columns_app:
    #Print the unique values of the current categorical column
    print('Unique values of', i, set(df_app_data[i]))
    #Print the count of each unique value in the current categorical column
    print(df_app_data[i].value_counts())
    #Print a separator line for better readability
    print('-' * 50)

Unique values of NAME_CONTRACT_TYPE {'Cash loans', 'Revolving loans'}
Cash loans         278232
Revolving loans     29279
Name: NAME_CONTRACT_TYPE, dtype: int64
--------------------------------------------------
Unique values of CODE_GENDER {'XNA', 'F', 'M'}
F      202448
M      105059
XNA         4
Name: CODE_GENDER, dtype: int64
--------------------------------------------------
Unique values of FLAG_OWN_CAR {'N', 'Y'}
N    202924
Y    104587
Name: FLAG_OWN_CAR, dtype: int64
--------------------------------------------------
Unique values of FLAG_OWN_REALTY {'N', 'Y'}
Y    213312
N     94199
Name: FLAG_OWN_REALTY, dtype: int64
--------------------------------------------------
Unique values of NAME_TYPE_SUITE {'Unaccompanied', nan, 'Family', 'Other_B', 'Children', 'Other_A', 'Spouse, partner', 'Group of people'}
Unaccompanied      248526
Family              40149
Spouse, partner     11370
Children             3267
Other_B              1770
Other_A               866
Group of people       271
Name: NAME_TYPE_SUITE, dtype: int64
--------------------------------------------------
Unique values of NAME_INCOME_TYPE {'Working', 'Unemployed', 'State servant', 'Pensioner', 'Businessman', 'Student', 'Maternity leave', 'Commercial associate'}
Working                 158774
Commercial associate     71617
Pensioner                55362
State servant            21703
Unemployed                  22
Student                     18
Businessman                 10
Maternity leave              5
Name: NAME_INCOME_TYPE, dtype: int64
--------------------------------------------------
Unique values of NAME_EDUCATION_TYPE {'Higher education', 'Secondary / secondary special', 'Lower secondary', 'Incomplete higher', 'Academic degree'}
Secondary / secondary special    218391
Higher education                  74863
Incomplete higher                 10277
Lower secondary                    3816
Academic degree                     164
Name: NAME_EDUCATION_TYPE, dtype: int64
--------------------------------------------------
Unique values of NAME_FAMILY_STATUS {'Unknown', 'Widow', 'Single / not married', 'Civil marriage', 'Separated', 'Married'}
Married                 196432
Single / not married     45444
Civil marriage           29775
Separated                19770
Widow                    16088
Unknown                      2
Name: NAME_FAMILY_STATUS, dtype: int64
--------------------------------------------------
Unique values of NAME_HOUSING_TYPE {'Co-op apartment', 'Municipal apartment', 'House / apartment', 'With parents', 'Rented apartment', 'Office apartment'}
House / apartment      272868
With parents            14840
Municipal apartment     11183
Rented apartment         4881
Office apartment         2617
Co-op apartment          1122
Name: NAME_HOUSING_TYPE, dtype: int64
--------------------------------------------------
Unique values of OCCUPATION_TYPE {'Waiters/barmen staff', nan, 'High skill tech staff', 'Secretaries', 'Sales staff', 'IT staff', 'Drivers', 'Managers', 'Security staff', 'Realty agents', 'Laborers', 'Accountants', 'Low-skill Laborers', 'Cooking staff', 'Cleaning staff', 'Private service staff', 'Core staff', 'Medicine staff', 'HR staff'}
Laborers                 55186
Sales staff              32102
Core staff               27570
Managers                 21371
Drivers                  18603
High skill tech staff    11380
Accountants               9813
Medicine staff            8537
Security staff            6721
Cooking staff             5946
Cleaning staff            4653
Private service staff     2652
Low-skill Laborers        2093
Waiters/barmen staff      1348
Secretaries               1305
Realty agents              751
HR staff                   563
IT staff                   526
Name: OCCUPATION_TYPE, dtype: int64
--------------------------------------------------
Unique values of WEEKDAY_APPR_PROCESS_START {'MONDAY', 'SATURDAY', 'WEDNESDAY', 'THURSDAY', 'TUESDAY', 'SUNDAY', 'FRIDAY'}
TUESDAY      53901
WEDNESDAY    51934
MONDAY       50714
THURSDAY     50591
FRIDAY       50338
SATURDAY     33852
SUNDAY       16181
Name: WEEKDAY_APPR_PROCESS_START, dtype: int64
--------------------------------------------------
Unique values of ORGANIZATION_TYPE {'Trade: type 7', 'Industry: type 2', 'Industry: type 9', 'Emergency', 'Services', 'Culture', 'Insurance', 'Trade: type 5', 'Transport: type 4', 'Postal', 'Industry: type 5', 'Transport: type 1', 'Police', 'Transport: type 3', 'Housing', 'Industry: type 10', 'Government', 'School', 'Industry: type 13', 'Telecom', 'Trade: type 6', 'Self-employed', 'Cleaning', 'Industry: type 11', 'Trade: type 4', 'Trade: type 3', 'Trade: type 1', 'Advertising', 'Business Entity Type 2', 'Industry: type 8', 'XNA', 'Military', 'Restaurant', 'Security Ministries', 'Religion', 'Mobile', 'Kindergarten', 'Business Entity Type 3', 'Realtor', 'Industry: type 6', 'Legal Services', 'University', 'Industry: type 3', 'Security', 'Industry: type 7', 'Industry: type 4', 'Medicine', 'Other', 'Hotel', 'Industry: type 12', 'Transport: type 2', 'Industry: type 1', 'Electricity', 'Business Entity Type 1', 'Trade: type 2', 'Construction', 'Agriculture', 'Bank'}
Business Entity Type 3    67992
XNA                       55374
Self-employed             38412
Other                     16683
Medicine                  11193
Business Entity Type 2    10553
Government                10404
School                     8893
Trade: type 7              7831
Kindergarten               6880
Construction               6721
Business Entity Type 1     5984
Transport: type 4          5398
Trade: type 3              3492
Industry: type 9           3368
Industry: type 3           3278
Security                   3247
Housing                    2958
Industry: type 11          2704
Military                   2634
Bank                       2507
Agriculture                2454
Police                     2341
Transport: type 2          2204
Postal                     2157
Security Ministries        1974
Trade: type 2              1900
Restaurant                 1811
Services                   1575
University                 1327
Industry: type 7           1307
Transport: type 3          1187
Industry: type 1           1039
Hotel                       966
Electricity                 950
Industry: type 4            877
Trade: type 6               631
Industry: type 5            599
Insurance                   597
Telecom                     577
Emergency                   560
Industry: type 2            458
Advertising                 429
Realtor                     396
Culture                     379
Industry: type 12           369
Trade: type 1               348
Mobile                      317
Legal Services              305
Cleaning                    260
Transport: type 1           201
Industry: type 6            112
Industry: type 10           109
Religion                     85
Industry: type 13            67
Trade: type 4                64
Trade: type 5                49
Industry: type 8             24
Name: ORGANIZATION_TYPE, dtype: int64
--------------------------------------------------
Unique values of FONDKAPREMONT_MODE {'reg oper account', nan, 'reg oper spec account', 'not specified', 'org spec account'}
reg oper account         73830
reg oper spec account    12080
not specified             5687
org spec account          5619
Name: FONDKAPREMONT_MODE, dtype: int64
--------------------------------------------------
Unique values of HOUSETYPE_MODE {'block of flats', nan, 'terraced house', 'specific housing'}
block of flats      150503
specific housing      1499
terraced house        1212
Name: HOUSETYPE_MODE, dtype: int64
--------------------------------------------------
Unique values of WALLSMATERIAL_MODE {'Others', nan, 'Monolithic', 'Mixed', 'Panel', 'Block', 'Wooden', 'Stone, brick'}
Panel           66040
Stone, brick    64815
Block            9253
Wooden           5362
Mixed            2296
Monolithic       1779
Others           1625
Name: WALLSMATERIAL_MODE, dtype: int64
--------------------------------------------------
Unique values of EMERGENCYSTATE_MODE {nan, 'Yes', 'No'}
No     159428
Yes      2328
Name: EMERGENCYSTATE_MODE, dtype: int64
--------------------------------------------------

In [13]:
#Calculate null value percentage for each column
null_percentage_app= (df_app_data.isnull().mean() * 100).round(2)

#Create a new dataframe to display columns and null value percentages
null_df_app = pd.DataFrame({'Column': null_percentage_app.index, 'Null Percentage': null_percentage_app.values})

#Display the dataframe
print(null_df_app.sort_values(ascending=False,by='Null Percentage').head(100))

                           Column  Null Percentage
76                COMMONAREA_MEDI            69.87
48                 COMMONAREA_AVG            69.87
62                COMMONAREA_MODE            69.87
70       NONLIVINGAPARTMENTS_MODE            69.43
56        NONLIVINGAPARTMENTS_AVG            69.43
84       NONLIVINGAPARTMENTS_MEDI            69.43
86             FONDKAPREMONT_MODE            68.39
68          LIVINGAPARTMENTS_MODE            68.35
54           LIVINGAPARTMENTS_AVG            68.35
82          LIVINGAPARTMENTS_MEDI            68.35
52                  FLOORSMIN_AVG            67.85
66                 FLOORSMIN_MODE            67.85
80                 FLOORSMIN_MEDI            67.85
75               YEARS_BUILD_MEDI            66.50
61               YEARS_BUILD_MODE            66.50
47                YEARS_BUILD_AVG            66.50
21                    OWN_CAR_AGE            65.99
81                  LANDAREA_MEDI            59.38
67                  LANDAREA_MODE            59.38
53                   LANDAREA_AVG            59.38
73              BASEMENTAREA_MEDI            58.52
45               BASEMENTAREA_AVG            58.52
59              BASEMENTAREA_MODE            58.52
41                   EXT_SOURCE_1            56.38
71             NONLIVINGAREA_MODE            55.18
57              NONLIVINGAREA_AVG            55.18
85             NONLIVINGAREA_MEDI            55.18
77                 ELEVATORS_MEDI            53.30
49                  ELEVATORS_AVG            53.30
63                 ELEVATORS_MODE            53.30
89             WALLSMATERIAL_MODE            50.84
72                APARTMENTS_MEDI            50.75
44                 APARTMENTS_AVG            50.75
58                APARTMENTS_MODE            50.75
78                 ENTRANCES_MEDI            50.35
50                  ENTRANCES_AVG            50.35
64                 ENTRANCES_MODE            50.35
55                 LIVINGAREA_AVG            50.19
69                LIVINGAREA_MODE            50.19
83                LIVINGAREA_MEDI            50.19
87                 HOUSETYPE_MODE            50.18
65                 FLOORSMAX_MODE            49.76
79                 FLOORSMAX_MEDI            49.76
51                  FLOORSMAX_AVG            49.76
60   YEARS_BEGINEXPLUATATION_MODE            48.78
74   YEARS_BEGINEXPLUATATION_MEDI            48.78
46    YEARS_BEGINEXPLUATATION_AVG            48.78
88                 TOTALAREA_MODE            48.27
90            EMERGENCYSTATE_MODE            47.40
28                OCCUPATION_TYPE            31.35
43                   EXT_SOURCE_3            19.83
116    AMT_REQ_CREDIT_BUREAU_HOUR            13.50
117     AMT_REQ_CREDIT_BUREAU_DAY            13.50
118    AMT_REQ_CREDIT_BUREAU_WEEK            13.50
119     AMT_REQ_CREDIT_BUREAU_MON            13.50
120     AMT_REQ_CREDIT_BUREAU_QRT            13.50
121    AMT_REQ_CREDIT_BUREAU_YEAR            13.50
11                NAME_TYPE_SUITE             0.42
92       DEF_30_CNT_SOCIAL_CIRCLE             0.33
91       OBS_30_CNT_SOCIAL_CIRCLE             0.33
93       OBS_60_CNT_SOCIAL_CIRCLE             0.33
94       DEF_60_CNT_SOCIAL_CIRCLE             0.33
42                   EXT_SOURCE_2             0.21
10                AMT_GOODS_PRICE             0.09
6                    CNT_CHILDREN             0.00
102               FLAG_DOCUMENT_8             0.00
2              NAME_CONTRACT_TYPE             0.00
3                     CODE_GENDER             0.00
4                    FLAG_OWN_CAR             0.00
95         DAYS_LAST_PHONE_CHANGE             0.00
96                FLAG_DOCUMENT_2             0.00
97                FLAG_DOCUMENT_3             0.00
98                FLAG_DOCUMENT_4             0.00
99                FLAG_DOCUMENT_5             0.00
100               FLAG_DOCUMENT_6             0.00
101               FLAG_DOCUMENT_7             0.00
103               FLAG_DOCUMENT_9             0.00
115              FLAG_DOCUMENT_21             0.00
104              FLAG_DOCUMENT_10             0.00
105              FLAG_DOCUMENT_11             0.00
5                 FLAG_OWN_REALTY             0.00
107              FLAG_DOCUMENT_13             0.00
108              FLAG_DOCUMENT_14             0.00
109              FLAG_DOCUMENT_15             0.00
110              FLAG_DOCUMENT_16             0.00
111              FLAG_DOCUMENT_17             0.00
112              FLAG_DOCUMENT_18             0.00
113              FLAG_DOCUMENT_19             0.00
114              FLAG_DOCUMENT_20             0.00
106              FLAG_DOCUMENT_12             0.00
8                      AMT_CREDIT             0.00
7                AMT_INCOME_TOTAL             0.00
26                     FLAG_PHONE             0.00
39        LIVE_CITY_NOT_WORK_CITY             0.00
38         REG_CITY_NOT_WORK_CITY             0.00
1                          TARGET             0.00
37         REG_CITY_NOT_LIVE_CITY             0.00
36    LIVE_REGION_NOT_WORK_REGION             0.00
35     REG_REGION_NOT_WORK_REGION             0.00
34     REG_REGION_NOT_LIVE_REGION             0.00

## <div style="text-align: left; background-color:#CFD9F1 ; font-family: Trebuchet MS; color: #0A3399; padding: 15px; line-height:1;border-radius:2px; margin-bottom: 0em; text-align: center; font-size: 20px;border-style: solid;border-color: dark green;"> Previous Application Data</div>

In [14]:
df_pre_app.shape

(1670214, 37)

In [15]:
df_pre_app.info(verbose=True,null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1670214 entries, 0 to 1670213
Data columns (total 37 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   SK_ID_PREV                   1670214 non-null  int64
 1   SK_ID_CURR                   1670214 non-null  int64
 2   NAME_CONTRACT_TYPE           1670214 non-null  object
 3   AMT_ANNUITY                  1297979 non-null  float64
 4   AMT_APPLICATION              1670214 non-null  float64
 5   AMT_CREDIT                   1670213 non-null  float64
 6   AMT_DOWN_PAYMENT             774370 non-null   float64
 7   AMT_GOODS_PRICE              1284699 non-null  float64
 8   WEEKDAY_APPR_PROCESS_START   1670214 non-null  object
 9   HOUR_APPR_PROCESS_START      1670214 non-null  int64
 10  FLAG_LAST_APPL_PER_CONTRACT  1670214 non-null  object
 11  NFLAG_LAST_APPL_IN_DAY       1670214 non-null  int64
 12  RATE_DOWN_PAYMENT            774370 non-null   float64
 13  RATE_INTEREST_PRIMARY        5951 non-null     float64
 14  RATE_INTEREST_PRIVILEGED     5951 non-null     float64
 15  NAME_CASH_LOAN_PURPOSE       1670214 non-null  object
 16  NAME_CONTRACT_STATUS         1670214 non-null  object
 17  DAYS_DECISION                1670214 non-null  int64
 18  NAME_PAYMENT_TYPE            1670214 non-null  object
 19  CODE_REJECT_REASON           1670214 non-null  object
 20  NAME_TYPE_SUITE              849809 non-null   object
 21  NAME_CLIENT_TYPE             1670214 non-null  object
 22  NAME_GOODS_CATEGORY          1670214 non-null  object
 23  NAME_PORTFOLIO               1670214 non-null  object
 24  NAME_PRODUCT_TYPE            1670214 non-null  object
 25  CHANNEL_TYPE                 1670214 non-null  object
 26  SELLERPLACE_AREA             1670214 non-null  int64
 27  NAME_SELLER_INDUSTRY         1670214 non-null  object
 28  CNT_PAYMENT                  1297984 non-null  float64
 29  NAME_YIELD_GROUP             1670214 non-null  object
 30  PRODUCT_COMBINATION          1669868 non-null  object
 31  DAYS_FIRST_DRAWING           997149 non-null   float64
 32  DAYS_FIRST_DUE               997149 non-null   float64
 33  DAYS_LAST_DUE_1ST_VERSION    997149 non-null   float64
 34  DAYS_LAST_DUE                997149 non-null   float64
 35  DAYS_TERMINATION             997149 non-null   float64
 36  NFLAG_INSURED_ON_APPROVAL    997149 non-null   float64
dtypes: float64(15), int64(6), object(16)
memory usage: 471.5+ MB

In [16]:
df_pre_app.head(50)

    SK_ID_PREV  SK_ID_CURR NAME_CONTRACT_TYPE  AMT_ANNUITY  AMT_APPLICATION  AMT_CREDIT  AMT_DOWN_PAYMENT  AMT_GOODS_PRICE WEEKDAY_APPR_PROCESS_START  HOUR_APPR_PROCESS_START FLAG_LAST_APPL_PER_CONTRACT  NFLAG_LAST_APPL_IN_DAY  RATE_DOWN_PAYMENT  RATE_INTEREST_PRIMARY  RATE_INTEREST_PRIVILEGED NAME_CASH_LOAN_PURPOSE NAME_CONTRACT_STATUS  DAYS_DECISION      NAME_PAYMENT_TYPE CODE_REJECT_REASON  NAME_TYPE_SUITE NAME_CLIENT_TYPE       NAME_GOODS_CATEGORY NAME_PORTFOLIO NAME_PRODUCT_TYPE             CHANNEL_TYPE  SELLERPLACE_AREA  NAME_SELLER_INDUSTRY  CNT_PAYMENT NAME_YIELD_GROUP             PRODUCT_COMBINATION  DAYS_FIRST_DRAWING  DAYS_FIRST_DUE  DAYS_LAST_DUE_1ST_VERSION  DAYS_LAST_DUE  DAYS_TERMINATION  NFLAG_INSURED_ON_APPROVAL
0      2030495      271877     Consumer loans     1730.430          17145.0     17145.0               0.0          17145.0                   SATURDAY                       15                           Y                       1           0.000000               0.182832                  0.867336                    XAP             Approved            -73  Cash through the bank                XAP              NaN         Repeater                    Mobile            POS               XNA             Country-wide                35          Connectivity         12.0           middle        POS mobile with interest            365243.0           -42.0                      300.0          -42.0             -37.0                        0.0
1      2802425      108129         Cash loans    25188.615         607500.0    679671.0               NaN         607500.0                   THURSDAY                       11                           Y                       1                NaN                    NaN                       NaN                    XNA             Approved           -164                    XNA                XAP    Unaccompanied         Repeater                       XNA           Cash            x-sell           Contact center                -1                   XNA         36.0       low_action                Cash X-Sell: low            365243.0          -134.0                      916.0       365243.0          365243.0                        1.0
2      2523466      122040         Cash loans    15060.735         112500.0    136444.5               NaN         112500.0                    TUESDAY                       11                           Y                       1                NaN                    NaN                       NaN                    XNA             Approved           -301  Cash through the bank                XAP  Spouse, partner         Repeater                       XNA           Cash            x-sell  Credit and cash offices                -1                   XNA         12.0             high               Cash X-Sell: high            365243.0          -271.0                       59.0       365243.0          365243.0                        1.0
3      2819243      176158         Cash loans    47041.335         450000.0    470790.0               NaN         450000.0                     MONDAY                        7                           Y                       1                NaN                    NaN                       NaN                    XNA             Approved           -512  Cash through the bank                XAP              NaN         Repeater                       XNA           Cash            x-sell  Credit and cash offices                -1                   XNA         12.0           middle             Cash X-Sell: middle            365243.0          -482.0                     -152.0         -182.0            -177.0                        1.0
4      1784265      202054         Cash loans    31924.395         337500.0    404055.0               NaN         337500.0                   THURSDAY                        9                           Y                       1                NaN                    NaN                       NaN                Repairs              Refused           -781  Cash through the bank                 HC              NaN         Repeater                       XNA           Cash           walk-in  Credit and cash offices                -1                   XNA         24.0             high               Cash Street: high                 NaN             NaN                        NaN            NaN               NaN                        NaN
5      1383531      199383         Cash loans    23703.930         315000.0    340573.5               NaN         315000.0                   SATURDAY                        8                           Y                       1                NaN                    NaN                       NaN      Everyday expenses             Approved           -684  Cash through the bank                XAP           Family         Repeater                       XNA           Cash            x-sell  Credit and cash offices                -1                   XNA         18.0       low_normal                Cash X-Sell: low            365243.0          -654.0                     -144.0         -144.0            -137.0                        1.0
6      2315218      175704         Cash loans          NaN              0.0         0.0               NaN              NaN                    TUESDAY                       11                           Y                       1                NaN                    NaN                       NaN                    XNA             Canceled            -14                    XNA                XAP              NaN         Repeater                       XNA            XNA               XNA  Credit and cash offices                -1                   XNA          NaN              XNA                            Cash                 NaN             NaN                        NaN            NaN               NaN                        NaN
7      1656711      296299         Cash loans          NaN              0.0         0.0               NaN              NaN                     MONDAY                        7                           Y                       1                NaN                    NaN                       NaN                    XNA             Canceled            -21                    XNA                XAP              NaN         Repeater                       XNA            XNA               XNA  Credit and cash offices                -1                   XNA          NaN              XNA                            Cash                 NaN             NaN                        NaN            NaN               NaN                        NaN
8      2367563      342292         Cash loans          NaN              0.0         0.0               NaN              NaN                     MONDAY                       15                           Y                       1                NaN                    NaN                       NaN                    XNA             Canceled           -386                    XNA                XAP              NaN         Repeater                       XNA            XNA               XNA  Credit and cash offices                -1                   XNA          NaN              XNA                            Cash                 NaN             NaN                        NaN            NaN               NaN                        NaN
9      2579447      334349         Cash loans          NaN              0.0         0.0               NaN              NaN                   SATURDAY                       15                           Y                       1                NaN                    NaN                       NaN                    XNA             Canceled            -57                    XNA                XAP              NaN         Repeater                       XNA            XNA               XNA  Credit and cash offices                -1                   XNA          NaN              XNA                            Cash                 NaN             NaN                        NaN            NaN               NaN                        NaN
10     1715995      447712         Cash loans    11368.620         270000.0    335754.0               NaN         270000.0                     FRIDAY                        7                           Y                       1                NaN                    NaN                       NaN                    XNA             Approved           -735  Cash through the bank                XAP    Unaccompanied         Repeater                       XNA           Cash            x-sell  Credit and cash offices                -1                   XNA         54.0       low_normal                Cash X-Sell: low            365243.0          -705.0                      885.0         -345.0            -334.0                        1.0
11     2257824      161140         Cash loans    13832.775         211500.0    246397.5               NaN         211500.0                     FRIDAY                       10                           Y                       1                NaN                    NaN                       NaN                    XNA             Approved           -815  Cash through the bank                XAP    Unaccompanied         Repeater                       XNA           Cash            x-sell  Credit and cash offices                -1                   XNA         30.0           middle             Cash X-Sell: middle            365243.0          -785.0                       85.0         -725.0            -721.0                        1.0
12     2330894      258628         Cash loans    12165.210         148500.0    174361.5               NaN         148500.0                    TUESDAY                       15                           Y                       1                NaN                    NaN                       NaN                    XNA             Approved           -860  Cash through the bank                XAP    Unaccompanied         Repeater                       XNA           Cash            x-sell  Credit and cash offices                -1                   XNA         24.0             high               Cash X-Sell: high            365243.0          -830.0                     -140.0         -200.0            -197.0                        1.0
13     1397919      321676     Consumer loans     7654.860          53779.5     57564.0               0.0          53779.5                     SUNDAY                       15                           Y                       1           0.000000                    NaN                       NaN                    XAP             Approved           -408  Cash through the bank                XAP    Unaccompanied              New      Consumer Electronics            POS               XNA             Country-wide               200  Consumer electronics          8.0       low_action  POS household without interest            365243.0          -378.0                     -168.0         -168.0            -163.0                        1.0
14     2273188      270658     Consumer loans     9644.220          26550.0     27252.0               0.0          26550.0                   SATURDAY                       10                           Y                       1           0.000000                    NaN                       NaN                    XAP             Approved           -726  Cash through the bank                XAP              NaN              New    Construction Materials            POS               XNA                    Stone                83  Consumer electronics          3.0           middle     POS household with interest            365243.0          -693.0                     -633.0         -633.0            -627.0                        0.0
15     1232483      151612     Consumer loans    21307.455         126490.5    119853.0           12649.5         126490.5                    TUESDAY                        7                           Y                       1           0.103971                    NaN                       NaN                    XAP             Approved           -699  Cash through the bank                XAP    Unaccompanied              New          Auto Accessories            POS               XNA         Regional / Local               130              Industry          6.0       low_normal         POS other with interest            365243.0          -668.0                     -518.0         -518.0            -512.0                        0.0
16     2163253      154602     Consumer loans     4187.340          26955.0     27297.0            1350.0          26955.0                   SATURDAY                       12                           Y                       1           0.051324                    NaN                       NaN                    XAP             Approved          -1473  Cash through the bank                XAP    Unaccompanied         Repeater  Photo / Cinema Equipment            POS               XNA                    Stone               130  Consumer electronics          8.0             high     POS household with interest            365243.0         -1440.0                    -1230.0        -1230.0           -1226.0                        0.0
17     1285768      142748    Revolving loans     9000.000         180000.0    180000.0               NaN         180000.0                     FRIDAY                       13                           Y                       1                NaN                    NaN                       NaN                    XAP             Approved           -336                    XNA                XAP    Unaccompanied         Repeater                       XNA          Cards            x-sell          AP+ (Cash loan)                 6                   XNA          0.0              XNA                     Card X-Sell              -277.0          -257.0                   365243.0       365243.0          365243.0                        0.0
18     2393109      396305         Cash loans    10181.700         180000.0    180000.0               NaN         180000.0                   THURSDAY                       14                           Y                       1                NaN                    NaN                       NaN                    XNA             Approved           -700  Cash through the bank                XAP    Unaccompanied         Repeater                       XNA           Cash            x-sell          AP+ (Cash loan)                 6                   XNA         24.0       low_normal                Cash X-Sell: low                 NaN             NaN                        NaN            NaN               NaN                        NaN
19     1173070      199178         Cash loans     4666.500          45000.0     49455.0               NaN          45000.0                   SATURDAY                       16                           Y                       1                NaN                    NaN                       NaN      Everyday expenses              Refused           -584                    XNA                 HC              NaN         Repeater                       XNA           Cash           walk-in          AP+ (Cash loan)                 6                   XNA         18.0             high               Cash Street: high                 NaN             NaN                        NaN            NaN               NaN                        NaN
20     1506815      166490         Cash loans    25454.025         450000.0    491580.0               NaN         450000.0                     MONDAY                        6                           Y                       1                NaN                    NaN                       NaN                    XNA              Refused           -401  Cash through the bank                 HC    Unaccompanied         Repeater                       XNA           Cash            x-sell  Credit and cash offices                -1                   XNA         24.0       low_normal                Cash X-Sell: low                 NaN             NaN                        NaN            NaN               NaN                        NaN
21     1182516      267782         Cash loans    20361.600         405000.0    451777.5               NaN         405000.0                   SATURDAY                        4                           Y                       1                NaN                    NaN                       NaN                    XNA             Approved           -686  Cash through the bank                XAP              NaN         Repeater                       XNA           Cash            x-sell  Credit and cash offices                -1                   XNA         30.0       low_normal                Cash X-Sell: low            365243.0          -656.0                      214.0       365243.0          365243.0                        1.0
22     1172842      302212         Cash loans          NaN              0.0         0.0               NaN              NaN                    TUESDAY                        9                           Y                       1                NaN                    NaN                       NaN                    XNA              Refused           -239                    XNA                 HC              NaN         Repeater                       XNA            XNA               XNA  Credit and cash offices                -1                   XNA          NaN              XNA                            Cash                 NaN             NaN                        NaN            NaN               NaN                        NaN
23     1172937      302212         Cash loans    39475.305        1129500.0   1277104.5               NaN        1129500.0                   THURSDAY                        5                           Y                       1                NaN                    NaN                       NaN                    XNA              Refused           -594  Cash through the bank                 HC              NaN         Repeater                       XNA           Cash            x-sell  Credit and cash offices                -1                   XNA         54.0       low_normal                Cash X-Sell: low                 NaN             NaN                        NaN            NaN               NaN                        NaN
24     1555330      199353         Cash loans          NaN              0.0         0.0               NaN              NaN                   SATURDAY                        6                           Y                       1                NaN                    NaN                       NaN                    XNA             Canceled           -202                    XNA                XAP              NaN         Repeater                       XNA            XNA               XNA  Credit and cash offices                -1                   XNA          NaN              XNA                            Cash                 NaN             NaN                        NaN            NaN               NaN                        NaN
25     1543131      275707         Cash loans    22619.520         229500.0    241920.0               NaN         229500.0                   THURSDAY                        8                           Y                       1                NaN                    NaN                       NaN                    XNA             Approved           -370  Cash through the bank                XAP    Unaccompanied         Repeater                       XNA           Cash            x-sell  Credit and cash offices                -1                   XNA         12.0       low_normal                Cash X-Sell: low            365243.0          -340.0                      -10.0          -10.0              -3.0                        1.0

In [17]:
df_pre_app.describe()

         SK_ID_PREV    SK_ID_CURR   AMT_ANNUITY  AMT_APPLICATION    AMT_CREDIT  AMT_DOWN_PAYMENT  AMT_GOODS_PRICE  HOUR_APPR_PROCESS_START  NFLAG_LAST_APPL_IN_DAY  RATE_DOWN_PAYMENT  RATE_INTEREST_PRIMARY  RATE_INTEREST_PRIVILEGED  DAYS_DECISION  SELLERPLACE_AREA   CNT_PAYMENT  DAYS_FIRST_DRAWING  DAYS_FIRST_DUE  DAYS_LAST_DUE_1ST_VERSION  DAYS_LAST_DUE  DAYS_TERMINATION  NFLAG_INSURED_ON_APPROVAL
count  1.670214e+06  1.670214e+06  1.297979e+06     1.670214e+06  1.670213e+06      7.743700e+05     1.284699e+06             1.670214e+06            1.670214e+06      774370.000000            5951.000000               5951.000000   1.670214e+06      1.670214e+06  1.297984e+06       997149.000000   997149.000000              997149.000000  997149.000000     997149.000000              997149.000000
mean   1.923089e+06  2.783572e+05  1.595512e+04     1.752339e+05  1.961140e+05      6.697402e+03     2.278473e+05             1.248418e+01            9.964675e-01           0.079637               0.188357                  0.773503  -8.806797e+02      3.139511e+02  1.605408e+01       342209.855039    13826.269337               33767.774054   76582.403064      81992.343838                   0.332570
std    5.325980e+05  1.028148e+05  1.478214e+04     2.927798e+05  3.185746e+05      2.092150e+04     3.153966e+05             3.334028e+00            5.932963e-02           0.107823               0.087671                  0.100879   7.790997e+02      7.127443e+03  1.456729e+01        88916.115833    72444.869708              106857.034789  149647.415123     153303.516729                   0.471134
min    1.000001e+06  1.000010e+05  0.000000e+00     0.000000e+00  0.000000e+00     -9.000000e-01     0.000000e+00             0.000000e+00            0.000000e+00          -0.000015               0.034781                  0.373150  -2.922000e+03     -1.000000e+00  0.000000e+00        -2922.000000    -2892.000000               -2801.000000   -2889.000000      -2874.000000                   0.000000
25%    1.461857e+06  1.893290e+05  6.321780e+03     1.872000e+04  2.416050e+04      0.000000e+00     5.084100e+04             1.000000e+01            1.000000e+00           0.000000               0.160716                  0.715645  -1.300000e+03     -1.000000e+00  6.000000e+00       365243.000000    -1628.000000               -1242.000000   -1314.000000      -1270.000000                   0.000000
50%    1.923110e+06  2.787145e+05  1.125000e+04     7.104600e+04  8.054100e+04      1.638000e+03     1.123200e+05             1.200000e+01            1.000000e+00           0.051605               0.189122                  0.835095  -5.810000e+02      3.000000e+00  1.200000e+01       365243.000000     -831.000000                -361.000000    -537.000000       -499.000000                   0.000000
75%    2.384280e+06  3.675140e+05  2.065842e+04     1.803600e+05  2.164185e+05      7.740000e+03     2.340000e+05             1.500000e+01            1.000000e+00           0.108909               0.193330                  0.852537  -2.800000e+02      8.200000e+01  2.400000e+01       365243.000000     -411.000000                 129.000000     -74.000000        -44.000000                   1.000000
max    2.845382e+06  4.562550e+05  4.180581e+05     6.905160e+06  6.905160e+06      3.060045e+06     6.905160e+06             2.300000e+01            1.000000e+00           1.000000               1.000000                  1.000000  -1.000000e+00      4.000000e+06  8.400000e+01       365243.000000   365243.000000              365243.000000  365243.000000     365243.000000                   1.000000

In [18]:
#Display descriptive statistics for categorical (object) columns in the DataFrame
df_pre_app.describe(include="O")

       NAME_CONTRACT_TYPE WEEKDAY_APPR_PROCESS_START FLAG_LAST_APPL_PER_CONTRACT NAME_CASH_LOAN_PURPOSE NAME_CONTRACT_STATUS      NAME_PAYMENT_TYPE CODE_REJECT_REASON NAME_TYPE_SUITE NAME_CLIENT_TYPE NAME_GOODS_CATEGORY NAME_PORTFOLIO NAME_PRODUCT_TYPE             CHANNEL_TYPE NAME_SELLER_INDUSTRY NAME_YIELD_GROUP PRODUCT_COMBINATION
count             1670214                    1670214                     1670214                1670214              1670214                1670214            1670214          849809          1670214             1670214        1670214           1670214                  1670214              1670214          1670214             1669868
unique                  4                          7                           2                     25                    4                      4                  9               7                4                  28              5                 3                        8                   11                5                  17
top            Cash loans                    TUESDAY                           Y                    XAP             Approved  Cash through the bank                XAP   Unaccompanied         Repeater                 XNA            POS               XNA  Credit and cash offices                  XNA              XNA                Cash
freq               747553                     255118                     1661739                 922661              1036781                1033552            1353093          508970          1231261              950809         691011           1063666                   719968               855720           517215              285990

In [19]:
#Get the names of categorical columns in the DataFrame
categorical_columns_pre=df_pre_app.select_dtypes(include='O').columns
#Get the names of numerical columns in the DataFrame
numerical_columns_pre=df_pre_app.select_dtypes(include='number').columns

In [20]:
#Iterate over each categorical column in the DataFrame
for i in categorical_columns_pre:
    #Print the unique values of the current categorical column
    print('Unique values of', i, set(df_pre_app[i]))
    #Print the count of each unique value in the current categorical column
    print(df_pre_app[i].value_counts())
    #Print a separator line for better readability
    print('-' * 50)

Unique values of NAME_CONTRACT_TYPE {'XNA', 'Cash loans', 'Consumer loans', 'Revolving loans'}
Cash loans         747553
Consumer loans     729151
Revolving loans    193164
XNA                   346
Name: NAME_CONTRACT_TYPE, dtype: int64
--------------------------------------------------
Unique values of WEEKDAY_APPR_PROCESS_START {'SATURDAY', 'MONDAY', 'THURSDAY', 'WEDNESDAY', 'TUESDAY', 'SUNDAY', 'FRIDAY'}
TUESDAY      255118
WEDNESDAY    255010
MONDAY       253557
FRIDAY       252048
THURSDAY     249099
SATURDAY     240631
SUNDAY       164751
Name: WEEKDAY_APPR_PROCESS_START, dtype: int64
--------------------------------------------------
Unique values of FLAG_LAST_APPL_PER_CONTRACT {'N', 'Y'}
Y    1661739
N       8475
Name: FLAG_LAST_APPL_PER_CONTRACT, dtype: int64
--------------------------------------------------
Unique values of NAME_CASH_LOAN_PURPOSE {'Furniture', 'Everyday expenses', 'Purchase of electronic equipment', 'Building a house or an annex', 'Wedding / gift / holiday', 'Buying a home', 'Education', 'XNA', 'Car repairs', 'Payments on other loans', 'Buying a new car', 'Gasification / water supply', 'Buying a garage', 'Medicine', 'Other', 'Money for a third person', 'XAP', 'Buying a holiday home / land', 'Repairs', 'Urgent needs', 'Business development', 'Refusal to name the goal', 'Journey', 'Buying a used car', 'Hobby'}
XAP                                 922661
XNA                                 677918
Repairs                              23765
Other                                15608
Urgent needs                          8412
Buying a used car                     2888
Building a house or an annex          2693
Everyday expenses                     2416
Medicine                              2174
Payments on other loans               1931
Education                             1573
Journey                               1239
Purchase of electronic equipment      1061
Buying a new car                      1012
Wedding / gift / holiday               962
Buying a home                          865
Car repairs                            797
Furniture                              749
Buying a holiday home / land           533
Business development                   426
Gasification / water supply            300
Buying a garage                        136
Hobby                                   55
Money for a third person                25
Refusal to name the goal                15
Name: NAME_CASH_LOAN_PURPOSE, dtype: int64
--------------------------------------------------
Unique values of NAME_CONTRACT_STATUS {'Refused', 'Approved', 'Unused offer', 'Canceled'}
Approved        1036781
Canceled         316319
Refused          290678
Unused offer      26436
Name: NAME_CONTRACT_STATUS, dtype: int64
--------------------------------------------------
Unique values of NAME_PAYMENT_TYPE {'XNA', 'Cashless from the account of the employer', 'Non-cash from your account', 'Cash through the bank'}
Cash through the bank                        1033552
XNA                                           627384
Non-cash from your account                      8193
Cashless from the account of the employer       1085
Name: NAME_PAYMENT_TYPE, dtype: int64
--------------------------------------------------
Unique values of CODE_REJECT_REASON {'XNA', 'VERIF', 'XAP', 'LIMIT', 'SYSTEM', 'CLIENT', 'HC', 'SCOFR', 'SCO'}
XAP       1353093
HC         175231
LIMIT       55680
SCO         37467
CLIENT      26436
SCOFR       12811
XNA          5244
VERIF        3535
SYSTEM        717
Name: CODE_REJECT_REASON, dtype: int64
--------------------------------------------------
Unique values of NAME_TYPE_SUITE {'Unaccompanied', nan, 'Family', 'Other_B', 'Children', 'Spouse, partner', 'Other_A', 'Group of people'}
Unaccompanied      508970
Family             213263
Spouse, partner     67069
Children            31566
Other_B             17624
Other_A              9077
Group of people      2240
Name: NAME_TYPE_SUITE, dtype: int64
--------------------------------------------------
Unique values of NAME_CLIENT_TYPE {'Repeater', 'Refreshed', 'New', 'XNA'}
Repeater     1231261
New           301363
Refreshed     135649
XNA             1941
Name: NAME_CLIENT_TYPE, dtype: int64
--------------------------------------------------
Unique values of NAME_GOODS_CATEGORY {'Furniture', 'Insurance', 'Additional Service', 'Animals', 'Homewares', 'Sport and Leisure', 'Direct Sales', 'Photo / Cinema Equipment', 'House Construction', 'Consumer Electronics', 'Tourism', 'Education', 'Office Appliances', 'XNA', 'Audio/Video', 'Mobile', 'Gardening', 'Construction Materials', 'Auto Accessories', 'Clothing and Accessories', 'Fitness', 'Computers', 'Other', 'Medicine', 'Vehicles', 'Weapon', 'Medical Supplies', 'Jewelry'}
XNA                         950809
Mobile                      224708
Consumer Electronics        121576
Computers                   105769
Audio/Video                  99441
Furniture                    53656
Photo / Cinema Equipment     25021
Construction Materials       24995
Clothing and Accessories     23554
Auto Accessories              7381
Jewelry                       6290
Homewares                     5023
Medical Supplies              3843
Vehicles                      3370
Sport and Leisure             2981
Gardening                     2668
Other                         2554
Office Appliances             2333
Tourism                       1659
Medicine                      1550
Direct Sales                   446
Fitness                        209
Additional Service             128
Education                      107
Weapon                          77
Insurance                       64
Animals                          1
House Construction               1
Name: NAME_GOODS_CATEGORY, dtype: int64
--------------------------------------------------
Unique values of NAME_PORTFOLIO {'XNA', 'Cash', 'Cards', 'POS', 'Cars'}
POS      691011
Cash     461563
XNA      372230
Cards    144985
Cars        425
Name: NAME_PORTFOLIO, dtype: int64
--------------------------------------------------
Unique values of NAME_PRODUCT_TYPE {'XNA', 'x-sell', 'walk-in'}
XNA        1063666
x-sell      456287
walk-in     150261
Name: NAME_PRODUCT_TYPE, dtype: int64
--------------------------------------------------
Unique values of CHANNEL_TYPE {'Credit and cash offices', 'Stone', 'Car dealer', 'AP+ (Cash loan)', 'Country-wide', 'Contact center', 'Regional / Local', 'Channel of corporate sales'}
Credit and cash offices       719968
Country-wide                  494690
Stone                         212083
Regional / Local              108528
Contact center                 71297
AP+ (Cash loan)                57046
Channel of corporate sales      6150
Car dealer                       452
Name: CHANNEL_TYPE, dtype: int64
--------------------------------------------------
Unique values of NAME_SELLER_INDUSTRY {'XNA', 'MLM partners', 'Connectivity', 'Furniture', 'Consumer electronics', 'Tourism', 'Industry', 'Jewelry', 'Construction', 'Auto technology', 'Clothing'}
XNA                     855720
Consumer electronics    398265
Connectivity            276029
Furniture                57849
Construction             29781
Clothing                 23949
Industry                 19194
Auto technology           4990
Jewelry                   2709
MLM partners              1215
Tourism                    513
Name: NAME_SELLER_INDUSTRY, dtype: int64
--------------------------------------------------
Unique values of NAME_YIELD_GROUP {'XNA', 'high', 'low_action', 'low_normal', 'middle'}
XNA           517215
middle        385532
high          353331
low_normal    322095
low_action     92041
Name: NAME_YIELD_GROUP, dtype: int64
--------------------------------------------------
Unique values of PRODUCT_COMBINATION {'Cash', nan, 'Cash X-Sell: low', 'Cash X-Sell: high', 'POS industry with interest', 'Cash Street: middle', 'Card X-Sell', 'Card Street', 'Cash X-Sell: middle', 'POS other with interest', 'POS others without interest', 'POS mobile with interest', 'POS mobile without interest', 'POS industry without interest', 'POS household without interest', 'Cash Street: high', 'Cash Street: low', 'POS household with interest'}
Cash                              285990
POS household with interest       263622
POS mobile with interest          220670
Cash X-Sell: middle               143883
Cash X-Sell: low                  130248
Card Street                       112582
POS industry with interest         98833
POS household without interest     82908
Card X-Sell                        80582
Cash Street: high                  59639
Cash X-Sell: high                  59301
Cash Street: middle                34658
Cash Street: low                   33834
POS mobile without interest        24082
POS other with interest            23879
POS industry without interest      12602
POS others without interest         2555
Name: PRODUCT_COMBINATION, dtype: int64
--------------------------------------------------

In [21]:
#Check the percentage of Null value
null_app=round(df_app_data.isnull().sum()/len(df_app_data)*100,2)
#null_pre.sort_values(ascending=False).head(100)
print(null_app[null_app>40].sort_values(ascending=False).head(100))
print(len(null_app[null_app>40]))

COMMONAREA_AVG                  69.87
COMMONAREA_MEDI                 69.87
COMMONAREA_MODE                 69.87
NONLIVINGAPARTMENTS_MEDI        69.43
NONLIVINGAPARTMENTS_MODE        69.43
NONLIVINGAPARTMENTS_AVG         69.43
FONDKAPREMONT_MODE              68.39
LIVINGAPARTMENTS_MEDI           68.35
LIVINGAPARTMENTS_AVG            68.35
LIVINGAPARTMENTS_MODE           68.35
FLOORSMIN_MODE                  67.85
FLOORSMIN_MEDI                  67.85
FLOORSMIN_AVG                   67.85
YEARS_BUILD_MODE                66.50
YEARS_BUILD_AVG                 66.50
YEARS_BUILD_MEDI                66.50
OWN_CAR_AGE                     65.99
LANDAREA_MODE                   59.38
LANDAREA_MEDI                   59.38
LANDAREA_AVG                    59.38
BASEMENTAREA_MODE               58.52
BASEMENTAREA_MEDI               58.52
BASEMENTAREA_AVG                58.52
EXT_SOURCE_1                    56.38
NONLIVINGAREA_MODE              55.18
NONLIVINGAREA_AVG               55.18
NONLIVINGAREA_MEDI              55.18
ELEVATORS_AVG                   53.30
ELEVATORS_MEDI                  53.30
ELEVATORS_MODE                  53.30
WALLSMATERIAL_MODE              50.84
APARTMENTS_MEDI                 50.75
APARTMENTS_AVG                  50.75
APARTMENTS_MODE                 50.75
ENTRANCES_AVG                   50.35
ENTRANCES_MEDI                  50.35
ENTRANCES_MODE                  50.35
LIVINGAREA_MEDI                 50.19
LIVINGAREA_MODE                 50.19
LIVINGAREA_AVG                  50.19
HOUSETYPE_MODE                  50.18
FLOORSMAX_AVG                   49.76
FLOORSMAX_MEDI                  49.76
FLOORSMAX_MODE                  49.76
YEARS_BEGINEXPLUATATION_AVG     48.78
YEARS_BEGINEXPLUATATION_MODE    48.78
YEARS_BEGINEXPLUATATION_MEDI    48.78
TOTALAREA_MODE                  48.27
EMERGENCYSTATE_MODE             47.40
dtype: float64
49

In [22]:
print(null_app.filter(like='COMMONAREA'))
print(null_app.filter(like='NONLIVINGAPARTMENTS'))
print(null_app.filter(like='LIVINGAPARTMENTS'))
print(null_app.filter(like='FLOORSMIN'))
print(null_app.filter(like='YEARS_BUILD'))
print(null_app.filter(like='LANDAREA'))
print(null_app.filter(like='HOUSETYPE'))
print(null_app.filter(like='LIVINGAREA'))
print(null_app.filter(like='ENTRANCES'))
print(null_app.filter(like='APARTMENTS'))
print(null_app.filter(like='ELEVATORS'))
print(null_app.filter(like='NONLIVINGAREA'))
print(null_app.filter(like='BASEMENTAREA'))
print(null_app.filter(like='LANDAREA'))
print(null_app.filter(like='WALLSMATERIAL'))
print(null_app.filter(like='HOUSETYPE'))
print(null_app.filter(like='EXT_SOURCE'))
print(null_app.filter(like='FONDKAPREMONT'))
print(null_app.filter(like='CAR'))

COMMONAREA_AVG     69.87
COMMONAREA_MODE    69.87
COMMONAREA_MEDI    69.87
dtype: float64
NONLIVINGAPARTMENTS_AVG     69.43
NONLIVINGAPARTMENTS_MODE    69.43
NONLIVINGAPARTMENTS_MEDI    69.43
dtype: float64
LIVINGAPARTMENTS_AVG        68.35
NONLIVINGAPARTMENTS_AVG     69.43
LIVINGAPARTMENTS_MODE       68.35
NONLIVINGAPARTMENTS_MODE    69.43
LIVINGAPARTMENTS_MEDI       68.35
NONLIVINGAPARTMENTS_MEDI    69.43
dtype: float64
FLOORSMIN_AVG     67.85
FLOORSMIN_MODE    67.85
FLOORSMIN_MEDI    67.85
dtype: float64
YEARS_BUILD_AVG     66.5
YEARS_BUILD_MODE    66.5
YEARS_BUILD_MEDI    66.5
dtype: float64
LANDAREA_AVG     59.38
LANDAREA_MODE    59.38
LANDAREA_MEDI    59.38
dtype: float64
HOUSETYPE_MODE    50.18
dtype: float64
LIVINGAREA_AVG        50.19
NONLIVINGAREA_AVG     55.18
LIVINGAREA_MODE       50.19
NONLIVINGAREA_MODE    55.18
LIVINGAREA_MEDI       50.19
NONLIVINGAREA_MEDI    55.18
dtype: float64
ENTRANCES_AVG     50.35
ENTRANCES_MODE    50.35
ENTRANCES_MEDI    50.35
dtype: float64
APARTMENTS_AVG              50.75
LIVINGAPARTMENTS_AVG        68.35
NONLIVINGAPARTMENTS_AVG     69.43
APARTMENTS_MODE             50.75
LIVINGAPARTMENTS_MODE       68.35
NONLIVINGAPARTMENTS_MODE    69.43
APARTMENTS_MEDI             50.75
LIVINGAPARTMENTS_MEDI       68.35
NONLIVINGAPARTMENTS_MEDI    69.43
dtype: float64
ELEVATORS_AVG     53.3
ELEVATORS_MODE    53.3
ELEVATORS_MEDI    53.3
dtype: float64
NONLIVINGAREA_AVG     55.18
NONLIVINGAREA_MODE    55.18
NONLIVINGAREA_MEDI    55.18
dtype: float64
BASEMENTAREA_AVG     58.52
BASEMENTAREA_MODE    58.52
BASEMENTAREA_MEDI    58.52
dtype: float64
LANDAREA_AVG     59.38
LANDAREA_MODE    59.38
LANDAREA_MEDI    59.38
dtype: float64
WALLSMATERIAL_MODE    50.84
dtype: float64
HOUSETYPE_MODE    50.18
dtype: float64
EXT_SOURCE_1    56.38
EXT_SOURCE_2     0.21
EXT_SOURCE_3    19.83
dtype: float64
FONDKAPREMONT_MODE    68.39
dtype: float64
FLAG_OWN_CAR     0.00
OWN_CAR_AGE     65.99
dtype: float64

In [23]:
#Check the percentage of Null value
null_pre=round(df_pre_app.isnull().sum()/len(df_pre_app)*100,2)
#null_pre.sort_values(ascending=False).head(100)
print(null_pre[null_pre>40].sort_values(ascending=False).head(100))
print(len(null_pre[null_pre>40]))

RATE_INTEREST_PRIMARY        99.64
RATE_INTEREST_PRIVILEGED     99.64
AMT_DOWN_PAYMENT             53.64
RATE_DOWN_PAYMENT            53.64
NAME_TYPE_SUITE              49.12
DAYS_FIRST_DRAWING           40.30
DAYS_FIRST_DUE               40.30
DAYS_LAST_DUE_1ST_VERSION    40.30
DAYS_LAST_DUE                40.30
DAYS_TERMINATION             40.30
NFLAG_INSURED_ON_APPROVAL    40.30
dtype: float64
11

In [24]:
print(null_pre.filter(like='RATE'))
print(null_pre.filter(like='NAME'))
print(null_pre.filter(like='DAYS'))
print(null_pre.filter(like='AMT'))
print(null_pre.filter(like='NFLAG'))

RATE_DOWN_PAYMENT           53.64
RATE_INTEREST_PRIMARY       99.64
RATE_INTEREST_PRIVILEGED    99.64
dtype: float64
NAME_CONTRACT_TYPE         0.00
NAME_CASH_LOAN_PURPOSE     0.00
NAME_CONTRACT_STATUS       0.00
NAME_PAYMENT_TYPE          0.00
NAME_TYPE_SUITE           49.12
NAME_CLIENT_TYPE           0.00
NAME_GOODS_CATEGORY        0.00
NAME_PORTFOLIO             0.00
NAME_PRODUCT_TYPE          0.00
NAME_SELLER_INDUSTRY       0.00
NAME_YIELD_GROUP           0.00
dtype: float64
DAYS_DECISION                 0.0
DAYS_FIRST_DRAWING           40.3
DAYS_FIRST_DUE               40.3
DAYS_LAST_DUE_1ST_VERSION    40.3
DAYS_LAST_DUE                40.3
DAYS_TERMINATION             40.3
dtype: float64
AMT_ANNUITY         22.29
AMT_APPLICATION      0.00
AMT_CREDIT           0.00
AMT_DOWN_PAYMENT    53.64
AMT_GOODS_PRICE     23.08
dtype: float64
NFLAG_LAST_APPL_IN_DAY        0.0
NFLAG_INSURED_ON_APPROVAL    40.3
dtype: float64